<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>modernity</title>
  <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
  <div class="row">
    <div class="small-12 small-centered columns">
      <h1><span class="modern">modern</span>ity</h1>
      <hr>
      {% include "breadcrumbs.html" %}


    </div>
  </div>

  {% block content %}


  {% endblock %}

  <script src="/static/js/vendor/jquery.js"></script>
  <script src="/static/js/vendor/what-input.js"></script>
  <script src="/static/js/vendor/foundation.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>
