<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="407235018168-9kpf9phnb4u91lt9i3ge1qjpbs6p2eik.apps.googleusercontent.com">
  <title>modernity</title>
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
  <div class="row">
    <div class="small-12 small-centered columns">
      <h1><span class="modern">modern</span>ity</h1>
      <hr>
      {% include "breadcrumbs.html" %}


    </div>
  </div>

  {% block content %}


  {% endblock %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <!--<script src="https://apis.google.com/js/api:client.js"></script>-->
  <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
<!--<script src="https://apis.google.com/js/api:client.js"></script>-->


</body>
</html>
