<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>modernity</title>
  <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
  <div class="row">
    <div class="small-12 small-centered columns">
      <h1><span class="modern">modern</span>ity</h1>
      <hr>
      <div class="row">
        <div class="small-10 columns">
          <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
              <li><a href="/">home</a></li>

              {% if example %}

              <li><a href="/{{category}}">{{category}}</a></li>
              <li><span class="show-for-sr">Current: </span> {{example.name}}</li>

              {% elif examples or category %}

              <li><span class="show-for-sr">Current: </span> {{category}}</li>

              {% endif %}

            </ul>
          </nav>
        </div>
        <div class="small-2 columns">
          <div class="login text-right">
            {% if example %}

            <a href="#">Edit</a>
            <a href="#">Delete</a>

            {% elif examples or category %}

            <a href="new">New</a>

            {% endif %}
            <a href="#">Log In</a>
          </div>

        </div>
      </div>

    </div>
  </div>

  {% block content %}


  {% endblock %}

  <script src="/static/js/vendor/jquery.js"></script>
  <script src="/static/js/vendor/what-input.js"></script>
  <script src="/static/js/vendor/foundation.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>
