<div class="row">
        <div class="small-10 columns">
          <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
              <li><a href="{{url_for('index')}}">home</a></li>

              {% if example %}

              <li><a href="{{url_for('category', **{'category_name': category}) }}">{{category}}</a></li>

              {% if form_data %}

              <li><a href="{{url_for('example', **{'category_name': category, 'example_id': example.id}) }}">{{form_data.name}}</a> </li>

              {% else %}

              <li><span class="show-for-sr">Current: </span> {{example.name}} </li>

              {% endif %}

              {% elif examples or category %}

              <li><span class="show-for-sr">Current: </span> {{category}}</li>

              {% endif %}

            </ul>
          </nav>
        </div>
        <div class="small-2 columns">
          <div class="login text-right">
            {% if example %}

            <a href="{{url_for('edit', **{'category_name': category, 'example_id': example_id})}}">Edit</a>
            <a href="{{url_for('delete', **{'category_name': category, 'example_id': example_id})}}">Delete</a>

            {% elif examples or category %}

            <a href="{{url_for('new', **{'category_name': category})}}">New</a>

            {% endif %}
            <div id="signInButton">
          <span class="g-signin"
            data-scope="email"
            data-clientid="407235018168-9kpf9phnb4u91lt9i3ge1qjpbs6p2eik.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force"
          data-width="50"
          data-height="50"
          data-longtitle="false">
          </span>
        </div>
          </div>

        </div>
      </div>