<div class="row">
    <div class="small-6 align-left columns">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="{{url_for('index')}}">home</a></li>

                {% if example %}

                <li><a href="{{url_for('category', **{'category_name': category}) }}">{{category}}</a></li>

                {% if form_data %}

                <li><a href="{{url_for('example', **{'category_name': category, 'example_id': example.id}) }}">{{form_data.name}}</a> </li>

                {% else %}

                <li><span class="show-for-sr">Current: </span> {{example.name}} </li>

                {% endif %}

                {% elif examples or category %}

                <li><span class="show-for-sr">Current: </span> {{category}}</li>

                {% endif %}

            </ul>
        </nav>
    </div>
    <div class="small-6 control-panel columns">
        <ul class="breadcrumbs">
            {% if example and example.creator_email == session.email %}

            <li><a href="{{url_for('edit', **{'category_name': category, 'example_id': example_id})}}">Edit</a></li>
            <li><a href="{{url_for('delete', **{'category_name': category, 'example_id': example_id})}}">Delete</a></li>
            {% elif (examples or category) and session.email %}

            <li><a href="{{url_for('new', **{'category_name': category})}}">New</a></li>

            {% endif %}

            {% if session.email %}
            <li><a id="logout" onclick="signOut()">Log Out</a></li>
            {% else %}
            <li><a id="login" onclick="signIn()">Log In</a></li>
            {% endif %}
        </ul>

    </div>
</div>