{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="small-8 small-centered columns input-form">

      <form method="post" enctype=multipart/form-data target="" id="form">

        <div class="row">
          <div class="small-12 columns">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name" value="{{form_data.name}}">
          </div>
        </div>

        <div class="row">
          <div class="small-6 columns" style="padding: 0;">
            <div class="small-6 columns">
              <label for="year">Year</label>
              <input type="text" id="year" name="year" value="{{form_data.year}}" placeholder="YYYY">
            </div>
          </div>

        </div>

        <div class="row columns">
          <label for="content">Content</label>
          <textarea form="form" rows="5" name="content" id="content">{{form_data.detail}}</textarea>
        </div>

        <div class="row">
          {% if form_data.image_path %}
          <div class="small-4 columns">
            <label for="current-image">Current Image</label>
            <img id="current-image" src="/{{form_data.image_path}}">
          </div>
          {% endif %}
          <div class="small-8 columns">
            <label for="image">Select Image</label>
            <input type="file" id="image" class="file-input" name="image">
          </div>
        </div>
        <div class="row columns">
            <input type="submit" class="button" value="Submit">
        </div>
        <div class="row">
            {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
          </div>
      </form>

    </div>
  </div>


{% endblock %}