{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="small-4 columns">
      <img class="context-image" src="{{ url_for('uploaded_file', **{'filename': example.image_path }) }}">
    </div>
    <div class="small-6 columns">
      <h1 class="example-title text-left">
          {% if example.year %}
          <span class="example-date">{{example.year}}</span>
          {% else %}
          <span class="example-date">Unknown</span>
          {% endif %} {{example.name}} </h1>

      {% for paragraph in example.detail.split("\n") %}

        {% if paragraph.startswith('**featured**') %}

        <p class="feature">{{paragraph[12:]}}</p>

        {% else %}

        <p>{{paragraph}}</p>

        {% endif %}

      {% endfor %}
    </div>

  </div>

{% endblock %}