{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="small-up-2 medium-up-3 small-12 medium-11 small-centered columns">


      {% for category in categories %}
       <div class="column category">
        <a href="{{url_for('category', **{'category_name': category.name} )}}">
          <div class="outer">
            <div class="im-col" >
              <img src="{{url_for('static', filename=category.image_path)}}">
            </div>
            <div class="text-overlay">
              <h2 class="category-text">{{category.name.lower()}}</h2>
            </div>
          </div>
        </a>
      </div>

      {% endfor %}


    </div>
  </div>

{% endblock %}